body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: black;
    background-image: url("img/background/wallpaper.jpg");
	background-size: auto;
	background-position: center 0;
}

.title {
    text-align: center;
    background-color: #f4f4f499;
    width: 400px;
    margin: 5px auto 10px;
    padding: 1px 0;
    border: 1px solid #ccc;
}

.tabs {
    display: flex;
    background-color: #333;
}

.tab-button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    flex: 1;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #575757;
}

.tab-button.active {
    background-color: #575757;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f4f4f499;
    border: 1px solid #ccc;
}

.tab-content h2 {
    margin-top: 0;
}

img {
    width: 149px;
    height: 149px;
}

.side {
    border: 3px solid red;
    width: 143px;
    height: 143px;
}

.SideText {
    color: red;
}

.NPC {
    border: 3px solid orange;
    width: 143px;
    height: 143px;
}

.NPCText {
    color: orange;
}

.former {
    border: 3px solid gold;
    width: 143px;
    height: 143px;
}

.FormerText {
    color: gold;
}

.tab-content p {
	text-shadow: 1px 1px 3px black;
}

.title p {
	font-size: 14px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 14px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.indicator, .legend {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #777;
}

.indicator {
	right: 7px;
	bottom: 10px;
}

.M1 {
	background-color: blue;
}

.M2 {
	background-color: green;
}

.M3 {
	background-color: red;
}

.MA {
	background-color: gold;
}

.image-container {
	position: relative;
	display: inline-block;
}

.legend-container {
	position: sticky;
	margin-left: auto;
	margin-top: auto;
	width: 200px;
	height: 200px;
	background-color: #333;
	color: white;
	border: 1px solid #ccc;
	padding-left: 50px;
	bottom: 20px;
}

.legend {
	left: 20px;
}

.legend-container h3 {
	text-align: center;
	padding-right: 50px;
}

.legend:first-of-type {
	top: 56px;
}

.legend:nth-of-type(2) {
	top: 90px;
}
	
.legend:nth-of-type(3) {
	top: 124px;
}
	
.legend:last-of-type {
	top: 158px;
}

.first {
	right: 37px;
}

@media (max-width: 600px), (max-height: 400px) {
	.legend-container {
		width: 115px;
		height: 115px;
		padding-left: 30px;
		font-size: 0.55em;
	}
	
	.legend-container h3 {
		padding-right: 25px;
		font-size: 1.2em;
	}
	
	.legend {
		left: 10px;
		width: 10px;
		height: 10px;
	}
	
	.legend:first-of-type {
		top: 33px;
	}
	
	.legend:nth-of-type(2) {
		top: 52px;
	}
	
	.legend:nth-of-type(3) {
		top: 72px;
	}
	
	.legend:last-of-type {
		top: 92px;
	}
}